<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body style="margin: 0; padding: 0; background-color: #f4f4f4;">
        <table width="500" cellpadding="0" cellspacing="0" text-align="center" style="background-color: #ffffff; font-family: Arial, sans-serif;">
            <!-- Header row -->
            <tr>
                <td style="font-size: 20px; font-weight: bold; color: #f4f4f4; background-color: #000080; padding: 20px; text-align: center;">
                    <img src="https://raw.githubusercontent.com/kamalchahal7/CFFC-Donor-Engagement-System/main/backend/app/templates/logo.png" alt="Canadian Food for Children" width="200" style="display: block; margin: 0 auto;">
                </td>
            </tr>
            <!-- Image or greeting -->
            <tr>
                <td align="center" style="padding: 15px 20px;">
                    <img src="https://raw.githubusercontent.com/kamalchahal7/cffc-donor-engagement-system/main/backend/app/templates/warehouse.jpeg" 
                        width="350" 
                        style="display: block; border: 2px solid #333333; border-radius: 5px;" 
                        alt="Volunteers at Work">
                </td>
            </tr>
            <tr>
                <!-- Filler message, want some sort of an image for now -->
                <td align="center" style="padding: 15px 20px;">Dear Supporter, here's what your generosity helped accomplish this month.</td></tr>
            <!-- Impact story text -->
            <tr>
                <td align="center" style="padding: 15px 20px;">This month, we shipped 2 containers to El Salvador carrying rice, canned goods, clothing, and medical supplies to families in need.</td></tr>
            <!-- "What we need" section-->
            <tr>
                <td align="center" style="padding: 15px 20px;">We're currently low on: cooking oil, canned tomatoes, rice, beans, and salt. If you have any of these items, drop them off at our warehouse Monday through Friday, 8am to 12pm.</td>
            </tr>
            <!-- Donate button -->
            <tr>
                <td align="center" style="padding: 10px;">
                    <a href="https://cffc-donor-engagement-system.onrender.com/track_click" style="background-color: #4a8c3f; color: #ffffff; padding: 15px 20px; text-decoration: none; font-size: bold; display: inline-block; border-radius: 5px;">Donate Now</a>
                </td>
            </tr>
            <!-- 
                REMEMBER TO ADD AN UNSUBSCRIBE LINK IN THE FOOTER, A LINK TO THE WEBSITE, THE ETRANSFER EMAIL, AND THE CHEQUEQUE MAILING ADDRESS.
             -->
            <!-- Footer (address, unsubscribe) -->
            <tr>
                <td style="font-size: 10px; color: #999999; text-align: center; border-top: 1px solid #eeeeee;">1258 Lakeshore Rd E, Mississauga, ON L5E 1E9</td>
        </tr>
        </table>
    </body>
</html>